@model IEnumerable<TransportSystemMVC.Models.Truck>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TruckModel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InsuranceName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Owner)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mobile)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RouteFrom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RouteTo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TruckModel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InsuranceName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Owner)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mobile)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RouteFrom.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RouteTo.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TruckNro">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TruckNro">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TruckNro">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
